body
{
	height: 100%;		/*only useful in ie6 */
	width: expression(documentElement.clientWidth<1024?1024:documentElement.clientWidth+"px");	/*for min width*/
}
#menu		/*菜单的容器*/
{
	background: #999;
}
#main
{
	float: left;	/*IE6 bug*/
	width: expression((documentElement.clientWidth<1024?1024:documentElement.clientWidth)-180+"px");	/*ie6 bug*/
}
.main p
{
	clear: both;	/*not in main for Opera bug, must be here for ie bug*/
}
/*
#help
{
	background: #dfd;
}
*/
#cover
{
	width: 100%;
	height: expression(body.clientHeight);
}