
.main input[type=button]
{
	padding-top: 2px;
}
/*
.clr
{
	display: block;
}
a
{
	noneFocusLine: expression(this.onFocus=this.blur());
}
#ban	
{
	margin-left: -145px;
//	margin-right: -360px;
}
#con
{
	border-left: 145px solid #0052A4;
//	border-right: 360px solid #dfd; 
	min-height: 600px;
	min-width: 855px;
}
*/
/*
#menu	
{
	margin-left: -145px;
}
#cover
{
	width: 100%;
}
*/
/*
#help
{
	margin-right: -360px;
}
*/