a:focus
{
	-moz-outline-style:none;
}
.clr
{
	display: block;
}
#ban	/*整个上方横条*/
{
	margin-left: -180px;
/*	margin-right: -360px;*/
}
#con
{
	border-left: 180px solid #999;
/*	border-right: 360px solid #dfd;*/
	min-height: 800px;
/*	min-width: 484px;*/
	min-width: 844px;
}
#menu		/*菜单的容器*/
{
	margin-left: -180px;
}
#cover
{
	width: 100%;
}
/*
#help
{
	margin-right: -360px;
}
*/
